:root {
    --font-family: 'Clash Display', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-user-drag: none; /* Undragable */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body, html {
    margin: 0;
    padding: 0;

    background-color: #181a1b;
    width: 100vw;
    height: 100vh;

    font-family: system-ui, -apple-system, var(--font-family), Roboto, sans-serif;
    font-style: normal;
    color: #000;

    scroll-behavior: smooth;
    position: relative;
    overflow: hidden;
}

body, html {
    min-height: 100vh;
}

@font-face {
    font-family: "Clash Display";
    src: url("./fonts/ClashDisplay-Extralight.otf");
    font-weight: 200;
}

@font-face {
    font-family: "Clash Display";
    src: url("./fonts/ClashDisplay-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "Clash Display";
    src: url("./fonts/ClashDisplay-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Clash Display";
    src: url("./fonts/ClashDisplay-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "Clash Display";
    src: url("./fonts/ClashDisplay-Semibold.otf");
    font-weight: 600;
}

@font-face {
    font-family: "Clash Display";
    src: url("./fonts/ClashDisplay-Bold.otf");
    font-weight: 700;
}

h1 {
    font: 700 95px/100% var(--font-family);
    text-align: center;
    color: #FFFFFFD6;
    text-shadow: 0 0 10px #ffffff;
}

.content {
    z-index: 2;

    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 14vh;
}

.about_content{
    color: #fff;
}

.info{
    z-index: 14;
    position: relative;
    display: flex;

    font-family: 200 24px/26px var(--font-family);
    background-color: #3b3838;
    opacity: 75%;
    border-radius: 20px;


    justify-content: center;
    padding: 20px;
    margin: 10px;

    clip-path: border-box;
    max-width: max-content;
    max-height: max-content;
    width: 80vw;
    height: max-content;

    left: 10%;
    gap: 36px;

    border: 3px;
}
#Sit{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px #111;
}

.back{
    padding: 3vh;
}

.back{
    padding:3vh;
}
.back a{
    position: absolute;

    padding: 10px;
    margin-left: 3vw;

    max-width: max-content;
    width: 100%;
    min-width: 122px;

    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #2f2f2f;
    border-radius: 16px;
    font: 500 16px/24px var(--font-family);
    color: #fff;
    box-shadow: 0 0 10px #3b3838;

    transition: color 0.5s ease, opacity 0.5s ease, background-color 0.5s ease, transform 0.4s ease;

    text-decoration: none;
}

.back a:hover {
    background-color: #111;
    box-shadow: 0 0 20px #8006da;
    text-shadow: 0 0 20px #8006da;
    transform: scale(1.1);
}

/*lines*/
.lines {
    z-index: -1;
    top: -50vh;
    left: -50vw;
    right: 0;
    bottom: 0;
    height: 200vh;
    margin: auto;
    width: 200vw;
}

.line {
    z-index: 0;
    position: absolute;
    width: 1px;
    height: 200vh;
    top: -30vh;
    left: 50%;
    overflow: hidden;
    transform: rotate(-45deg);
}

.line:after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -25%;
}

.line:nth-child(1)::after {
    animation-delay: 2s;
}

.line:nth-child(3) {
    margin-left: 25%;
}

.line:nth-child(3)::after {
    animation-delay: 2.5s;
}

@keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 150%;
    }
}


/*Stars*/
#particles-js {
    position: absolute;
    top: 0;

    height: 100%;
    width: 100vw;

    background-repeat: no-repeat;
    background-size: cover;
}

/* Mobile view */
@media screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 4em;
        height: auto;
    }

    p {
        font-size: 1em;
        height: auto;
    }

    @media screen and (max-width: 360px) {
        body {
            font-size: 16px;
        }

        h1 {
            font-size: 2.5em;
        }

        p {
            font-size: 1em;
        }
    }

    @media (max-width: 660px) {
        .content {
            gap: 20vh;
        }

        .info {
            display: flex;
            flex-direction: column;
            max-height: max-content;
            max-width: max-content;
            font-size: 0.75em;
            /*top: -50%;*/
            left: 8%;
            transform: translateY(-18%);
            box-sizing: border-box;
        }
        .content #back {
            padding: 8px; /* zmniejszenie paddingu na mniejszych ekranach */
            margin: 0 auto; /* ustawienie marginesu na auto, aby wyśrodkować przycisk */
            max-width: 90%; /* zmniejszenie szerokości na mniejszych ekranach */
            min-width: auto; /* usuń min-width na mniejszych ekranach */
            font-size: 14px; /* zmniejszenie rozmiaru czcionki */
            transform: translateY(-80px); /* zmiana przesunięcia */
        }

        .content #back:hover {
            box-shadow: 0 0 15px #8006da; /* zmiana rozmiaru cienia przy najechaniu */
            text-shadow: 0 0 15px #8006da; /* zmiana cienia tekstu przy najechaniu */
            transform: scale(1.05) translateY(-80px); /* zmiana transformacji przy najechaniu */
        }
    }
}
