.dropdown-button {
    display: none;
    justify-content: center;
    align-items: center;

    background-color: rgba(var(--rgba-accent), 0.2);
    backdrop-filter: blur(10px);
    color: var(--text);

    border: 1px solid var(--primary);
    cursor: pointer;
    border-radius: 10px;
    padding: 12px;

    transition: all 0.4s;
}

.dropdown-button svg{
    width: 1.5rem;
    height: 1.5rem;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: rgba(var(--rgba-background), 0,2);
    backdrop-filter: blur(10px);

    border: 1px solid var(--primary);

    min-width: 250px;

    box-shadow: 0 8px 16px 0 rgba(var(--rgba-accent) 0.2);
    z-index: 1;

    animation: slideIn 0.5s;
    transition: all 0.5s;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.dropdown-content a {
    color: var(--text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--primary);
    color: var(--background);
}

@media (max-width: 768px) {
    .dropdown-button {
        display: flex;
    }

    .h-center{
        display: none;
    }
}