:root{
    --text: #e0edef;
    --background: #091314;
    --primary: #96d2da;
    --secondary: #226e77;
    --accent: #3fc3d4;

    --font-family: 'Clash Grotesk', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scroll-behavior: smooth;
    scrollbar-color: var(--primary) var(--secondary);
    scrollbar-width: thin;
}

::selection {
    background-color: var(--primary);
    color: var(--secondary);
}

.spoiler {
    filter: blur(20px);

    user-select: none;

    transition: 0.5s;
}

.spoiler:hover {
    filter: blur(0);

    user-select: auto;

    transition: 0.5s;
}