header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;

    padding: 20px;
    background-color: rgba(var(--background) , 0.8);
    box-shadow: 0 8px 16px 0 rgba(var(--background), 0.2);

    width: 60%;

    backdrop-filter: blur(20px);

    position: fixed;
    top: 1rem;

    border-radius: 20px;
    border: 2px solid rgba(var(--rgba-primary), 0.5);

    z-index: 1000;
}

header img{
    width: 50px;
    height: 50px;

    border-radius: 50%;

    cursor: pointer;

    transition: transform 0.5s;
}

header img:hover{
    transform: scale(1.1);

    stroke: var(--primary);
}

nav ul{
    display: flex;
    gap: 20px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: var(--text);
    font-size: 1.2rem;
}

nav ul li a:after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--primary);
    transition: width 0.3s;
}

nav ul li a:hover:after{
    width: 100%;
}

nav ul li a:hover{
    color: var(--primary);
}

