#projects{
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-direction: column;

    width: 100%;
    min-height: 100svh;
    max-height: fit-content;


    margin-top: 20px;
}

#projects h3{
    font: 700 3rem var(--font-family);
    color: var(--text);
}

#projects p{
    font: 400 1.5rem var(--font-family);
    color: var(--text);
}

#projects-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10svh;
    gap: 20px;
}

#projects-content p{
    font: 300 1.5rem var(--font-family);
    color: var(--text);
}

#projects-content a{
    font: 400 1.5rem var(--font-family);
    color: var(--text);
    text-decoration: underline;
}

#projects-content a:hover{
    color: var(--primary);
}

.project{
    width: 45%;
    height: 100%;
    gap: 10px;
    margin-top: 20px;
    background: var(--background);
    border: 2px solid rgba(var(--rgba-secondary), .5);
    padding: 20px;
    border-radius: 10px;
}

.project iframe{
    width: 100%;
    height: 512px;
    object-fit: cover;

    pointer-events: none;

    border: none;
    border-radius: 10px;
}